* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: inter;
}

/* BODY */

body {
    height: 3000px;
}

/* HEADER */

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0px 40px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    padding-left: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    
}

.nav-links a:hover {
    text-decoration: underline;
}