.hero {
    width: 100%;
    height: calc(100vh - 72px);
    margin-top: 72px; 
    background-image: url('../img/homepage/sfondo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    display: flex; 
    width: 100%;
    margin: 0px 40px;
}


section .left-column,
.right-column {
    flex: 1;
}

section .left-column {
    margin-right: 20px;
}

.hero .left-column .h3-slim {
    margin-bottom: 16px;
}

.hero .left-column h1 {
    margin-bottom: 34px;
}

.hero .left-column .cta-buttons .button-primary {
    margin-right: 16px;
}

.right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-column img {
    max-width: 100%;
    height: auto;
}

/* Work section styles */
.work-section {
    margin-top: 80px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.work-section h2 {
    margin-bottom: 80px;
}

.work-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.work-card {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    margin: 0 10px;
    text-align: left;
    max-width: calc(50% - 20px); 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    
}

.work-card img {
    width: 100%;
    height: auto;
    border: 1px solid #5995EF;
    border-radius: 20px;

}

.work-card a {
    display: block;
    overflow: hidden;
    position: relative;
}


.work-card a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #5995EF 0%, rgba(89, 149, 239, 0%) 100%);
    border-radius: 20px;
    transition: background 1s ease;
    
}

.card-content {
    padding: 32px;
}

.card-content h4 {
    margin-bottom: 16px;
}

.card-content p {
    margin-bottom: 18px;
}

.card-ta-ux {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: #BBD6FF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #5995EF;
}

.card-tag-html {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: #EBBDFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #D571FF;
}

.work-card.single {
    margin: 0 auto;
    text-align: center; /* Centra il testo e l'immagine orizzontalmente */
}

.work-card.single img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Assicura che l'immagine non superi la larghezza della card */
    max-height: 100%; /* Assicura che l'immagine non superi l'altezza della card */
    border-radius: 20px;
}




/* Contact me */

.contact-section {
    width: 100%;
    height: 31.7vw;
    background-image: url('../img/homepage/sfondo-contattami.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contact-content {
    text-align: center;
    color: white;
    padding: 20px;
}

.contact-content h2 {
    margin-bottom: 8px;
    
}

.contact-content h3 {
    margin-bottom: 32px;
}


