/* ///////////////////////////// HERO SECTION ////////////////////////// */

.hero {
    width: 100%;
    height: calc(100vh - 72px);
    margin-top: 72px;
    background-image: url('../img/homepage/sfondo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    display: flex;
    width: 100%;
    margin: 0px 40px;
}


section .left-column,
.right-column {
    flex: 1;
}

section .left-column {
    margin-right: 20px;
}

.hero .left-column .h3-slim {
    margin-bottom: 16px;
}

.hero .left-column h1 {
    margin-bottom: 34px;
}

.hero .left-column .cta-buttons .button-primary {
    margin-right: 16px;
}

.right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column img {
    max-width: 100%;
    height: auto;
}

/* ///////////////////////////// WORK SECTION ////////////////////////// */


#work-section:before {
    content: "";
    display: block;
    height: 21vh;
    margin-top: -21vh;
}


.work-section {
    margin-top: 80px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.work-section h2 {
    margin-bottom: 80px;
}

.work-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.work-card {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    margin: 0 10px;
    text-align: left;
    max-width: calc(50% - 20px);
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.work-card img {
    width: 100%;
    height: auto;
    border: 1px solid #5995EF;
    border-radius: 20px;

}

.work-card a {
    display: block;
    overflow: hidden;
    position: relative;
}


.work-card a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #5995EF 0%, rgba(89, 149, 239, 0%) 100%);
    border-radius: 20px;
    transition: background 1s ease;

}

.card-content {
    padding: 32px;
}

.card-content h4 {
    margin-bottom: 16px;
}

.card-content p {
    margin-bottom: 18px;
}

.card-ta-ux {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: #BBD6FF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #5995EF;
}

.card-tag-html {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: #EBBDFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #D571FF;
}

.work-card.single {
    margin: 0 auto;
    text-align: center;
}

.work-card.single img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

/* ///////////////////////////// CONTACT SECTION ////////////////////////// */

input::placeholder,
textarea::placeholder {
    color: #595959; /* Colore del testo del placeholder */
    font-size: 16px;
    font-weight: 400; /* Dimensione del font del placeholder */
}

.contact-section {
    width: 100%;
    height: 100%;
    background-image: url('../img/homepage/sfondo-contattami2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 80px 0px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.text-content {
    margin-bottom: 32px;
}

.contact-content {
    color: white;
}

.text-content h2 {
    margin-bottom: 32px;
}

.text-content h3 {
    margin-bottom: 32px;
}

.form-content {
    width: 100%;
    max-width: 600px;
}

.contact-form {
    display: grid;
    gap: 16px;
    width: 100%;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    line-height: 28px;
    border: 1px solid #5995EF;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.form-group textarea {
    height: calc(4 * 44px); /* Altezza 4 volte quella degli input */
    resize: none; /* Disabilita il ridimensionamento */
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: black;
}

.button-primary {
    border: none;
}




