/* Media query per schermi tra 720px e 1200px */
@media (min-width: 768px) and (max-width: 1200px) {

    /* ///////////////////////////// HOMEPAGE ////////////////////////// */

    /* NAVBAR */
    
    header {
        padding: 0px 30px;
    }

    .nav-logo {
        font-size: 24px;
    }

    .nav-links a {
        font-size: 14px;    
    }
    
    
    /* HOMEPAGE */

    .hero {
        height: calc(80vh - 72px);
    }

    .hero-content {
        width: 100%;
        margin: 0px 30px;
        padding: 0px auto;
    }

    h1 {
        color: black;
        font-size: 56px;
        line-height: 66px;
    }

    .h3-slim {
        color: black;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
    }

    section .left-column {
        margin-right: 15px;
    }

    .hero .left-column .h3-slim {
        margin-bottom: 16px;
    }

    .button-primary {
        font-size: 14px;
    }

    .button-secondary {
        font-size: 14px;
    }

    .hero .left-column .cta-buttons .button-primary {
    margin-right: 0px;
    }
    
    .hero .left-column .cta-buttons .button-primary {
        margin-bottom: 10px; /* Spazio tra i bottoni quando sono uno sopra l'altro */
        margin-right: 8px; /* Rimuove il margine destro se i bottoni sono in colonna */
    }

    .hero .left-column h1 {
        margin-bottom: 32px;
    }

    .right-column {
        padding: 0px;
    }

    /* HOMEPAGE */


    h2 {
        font-size: 32px;
        line-height: 48px;
    }

    .work-section {
        margin-left: 30px;
        margin-right: 30px;
    }

    .work-card {
        max-width: calc(50% - 15px); 
    }

    /* Contact me */

    .contact-section .contact-content .h3-slim {
        font-size: 24px;
    }

    .work-card.single .card-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 236px; 
        border: 1px solid  #5995EF;
        border-radius: 20px;
    }

    .footer {
        padding: 0 50px;
        
    }

    /* ///////////////////////////// ABOUT ME ////////////////////////// */

    .about-me-section {
        grid-template-columns: 0.125fr 1fr 0.125fr; /* Grid layout */
        margin-left: 30px;
        margin-right: 30px;
    }

    /* IMAGES HOVER */

    .content-section {
        margin: 80px 30px;
    }

    .grid-item:hover .overlay {
        opacity: 0;
    }
    
    .grid-item:hover img {
        filter: none;
    }

    .grid-item:active .overlay {
        opacity: 1;
    }
    
    .grid-item:active img {
        filter: blur(10px);
    }

    /* IMAGES HOVER */

    .information-about-me {
        width: 100%;
        height: 500px;
        padding: 0px 30px;
        background-image: url('/assets/img/about-me/descritpion-background.svg');
        grid-template-columns: 0fr 0.75fr 1.25fr 0fr;
        gap: 15px;
    }

    .information-about-me .grid-container .text-container p {
        font-size: 14px;
        padding: 0px;
    }
        


}



